@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#00FFF0), to(#282828));
  background: linear-gradient(#00FFF0, #282828);
}

hr {
  height: 2px;
  margin: 0;
  background-color: #FFFFFF;
  border: none;
}

h1 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 144px;
  color: #FFFFFF;
}

h2 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 72px;
  color: #F9F9F9;
}

h3, input[type="button"] {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #F4F4F4;
  text-align: center;
}

p, input[type="text"], input[type="email"], textarea, div {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}

small {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

a {
  color: #73d7ff;
}

a:hover {
  color: #28c2ff;
}

@media only screen and (max-width: 1050px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 36px;
  }
  h3, input[type="button"] {
    font-size: 24px !important;
  }
  p, input[type="text"], input[type="email"], textarea, div {
    font-size: 18px;
  }
}

#menu {
  position: fixed;
  top: 40vh;
  z-index: 1;
  list-style: none;
}

#menu li {
  margin: 10px 0;
}

#menu li :hover {
  cursor: pointer;
}

#menu li ::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
  background-color: rgba(151, 151, 151, 0.6);
}

#menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

#menu li.active ::before {
  background-color: rgba(255, 255, 255, 0.6);
}

#menu li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 1050px) {
  #menu {
    top: 75px;
    padding-left: 20px;
  }
  #menu li {
    margin: 5px 0;
  }
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#header img {
  position: absolute;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: darken;
}

#header h1 {
  z-index: 1;
}

#header h2 {
  z-index: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10vw;
}

@media only screen and (max-width: 1050px) {
  #header h1, #header h2 {
    text-align: center;
  }
  #header h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
  }
}

#aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 60px 100px 60px;
}

#aboutMe #visualsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutMe #visualsContainer #profilePic {
  height: 400px;
  width: 400px;
  margin-bottom: 30px;
  border-radius: 50%;
  border: solid 1px #FFFFFF;
  background-color: white;
  background-image: url("../assets/images/profilePic.jpg");
  background-size: cover;
}

#aboutMe #visualsContainer #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

#aboutMe #visualsContainer #socials * {
  color: #FFFFFF;
  font-size: 75px;
  margin: 0 10px;
}

#aboutMe #visualsContainer #socials *:hover {
  color: #eeeeee;
  cursor: pointer;
}

#aboutMe .textArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  padding: 40px 40px;
  margin-left: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

@media only screen and (max-width: 1050px) {
  #aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 50px 0;
  }
  #aboutMe #visualsContainer #profilePic {
    max-height: 400px;
    max-width: 400px;
    width: 60vw;
    height: 60vw;
  }
  #aboutMe .textArea {
    margin: 0 0 30px 0;
    width: 80vw;
  }
}

@media only screen and (max-width: 400px) {
  #socials * {
    font-size: 50px !important;
  }
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 60px 100px 60px;
  width: 100%;
}

#projects h2 {
  margin-bottom: 50px;
}

#projects #projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects #projectContainer .project {
  height: 400px;
  width: 400px;
  margin: 10px;
  border-radius: 20px;
  border: solid 1px #FFFFFF;
  background-color: #FFFFFF;
  background-size: cover;
}

#projects #projectContainer .project .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
  border-radius: 20px 20px 0 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: height 300ms;
  transition: height 300ms;
}

#projects #projectContainer .project .banner p, #projects #projectContainer .project .banner input[type="text"], #projects #projectContainer .project .banner input[type="email"], #projects #projectContainer .project .banner textarea {
  -webkit-transition: font-size 300ms;
  transition: font-size 300ms;
}

#projects #projectContainer .project .banner small {
  -webkit-transition: font-size 300ms;
  transition: font-size 300ms;
  text-align: center;
  font-size: 0;
}

#projects #projectContainer .project:hover .banner {
  height: 100%;
  border-radius: 20px;
}

#projects #projectContainer .project:hover .banner p, #projects #projectContainer .project:hover .banner input[type="text"], #projects #projectContainer .project:hover .banner input[type="email"], #projects #projectContainer .project:hover .banner textarea {
  font-size: 54px;
}

#projects #projectContainer .project:hover .banner small {
  font-size: 18px;
}

#projects #projectContainer .project:hover {
  cursor: pointer;
}

#projects #projectContainer .project#jsAi {
  background-image: url("../assets/images/js-ai.png");
}

#projects #projectContainer .project#projectPigeon {
  background-image: url("../assets/images/project-pigeon.png");
}

#projects #projectContainer .project#reactNotes {
  background-image: url("../assets/images/react-notes.png");
}

#projects #projectContainer .project#laravelGallery {
  background-image: url("../assets/images/laravel-gallery.png");
}

#projects #projectContainer .project#nieuwsRadar {
  background-image: url("../assets/images/nieuwsradar.png");
}

#projects #projectContainer .project#backendApi {
  background-image: url("../assets/images/backend-api.png");
}

@media only screen and (max-width: 1050px) {
  .project {
    height: 300px !important;
    width: 300px !important;
  }
  .project .banner p, .project .banner input[type="text"], .project .banner input[type="email"], .project .banner textarea {
    text-align: center;
    font-size: 30px !important;
  }
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10vw 100px 10vw;
  width: 100%;
}

#contact h2 {
  margin-bottom: 50px;
}

#contact #contactFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

#contact #contactFormContainer #contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

#contact #contactFormContainer #contactForm label {
  margin-top: 10px;
  margin-bottom: 5px;
}

#contact #contactFormContainer #contactForm input, #contact #contactFormContainer #contactForm textArea {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border 300ms;
  transition: border 300ms;
}

#contact #contactFormContainer #contactForm input[type="button"], #contact #contactFormContainer #contactForm textArea[type="button"] {
  height: 70px;
  margin-top: 40px;
  background-color: rgba(0, 255, 240, 0.8);
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

#contact #contactFormContainer #contactForm input[type="button"]:hover, #contact #contactFormContainer #contactForm textArea[type="button"]:hover {
  cursor: pointer;
  background-color: #00ffee98;
}

#contact #contactFormContainer #contactForm input[type="button"].messageSent, #contact #contactFormContainer #contactForm textArea[type="button"].messageSent {
  background-color: rgba(0, 255, 179, 0.8);
  cursor: default;
}

#contact #contactFormContainer #contactForm input[type="button"].messageFailed, #contact #contactFormContainer #contactForm textArea[type="button"].messageFailed {
  background-color: rgba(248, 172, 255, 0.8);
  cursor: default;
}

#contact #contactFormContainer #contactForm input.error, #contact #contactFormContainer #contactForm textArea.error {
  border: solid red 2px;
}

#contact #contactFormContainer #contactForm textArea {
  min-height: 100px;
  max-height: 800px;
  height: 200px;
  resize: vertical;
}

@media only screen and (max-width: 1050px) {
  #contactFormContainer {
    width: 100% !important;
    padding: 10px 15px;
  }
  #contactFormContainer input {
    height: 40px !important;
  }
  #contactFormContainer input[type="button"] {
    height: 50px !important;
    margin-top: 30px !important;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 60px;
}

#header img {
  mix-blend-mode: color-dodge;
}

@media only screen and (max-width: 1050px) {
  #menu {
    top: 0;
  }
}
/*# sourceMappingURL=homepage.css.map */