*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 3vh 3vw;
    background-color: #02001F;
}

h1{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 10rem;

    background: linear-gradient(120deg, #00FF94, #E9FFF6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h2{
    text-align: center;
    font-size: 5rem;
    margin: 20px 0 20px 0;

    background: linear-gradient(120deg, #00C2FF, #F3FCFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#copyright{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 40px;
    text-decoration: none;
    color: white;
}

p{
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

a{
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(202, 202, 202);
    text-decoration: underline;
}

.githubLink{
    font-size: 1rem;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 250px;
}

@media only screen and (max-width: 920px) {
    h1 {
        font-size: 7rem;
    }

    h2{
        font-size: 3rem;
        margin: 30px 0 15px 0;
    }

    a{
        font-size: 1.5rem;
    }
}