@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  box-sizing: border-box;
}

html {
  background-color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(#00FFF0, #282828);
}

hr {
  height: 2px;
  background-color: #FFFFFF;
  border: none;
}

h1 {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 144px;
  color: #FFFFFF;
}

h2 {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 72px;
  color: #F9F9F9;
}

h3 {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #F4F4F4;
}

p, div {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}

#menu {
  position: fixed;
  top: 40vh;
  z-index: 1;
  height: 150px;
  list-style: none;
}
#menu li {
  margin: 10px 0;
}
#menu li :hover {
  cursor: pointer;
}
#menu li ::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  justify-self: center;
  transition: background-color 300ms ease-in;
  background-color: rgba(151, 151, 151, 0.6);
}
#menu li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
}
#menu li.active ::before {
  background-color: rgba(255, 255, 255, 0.6);
}
#menu li:hover {
  transform: scale(1.1);
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/images/headerImg.png");
  background-size: cover;
  mix-blend-mode: color-dodge;
}
#header h2 {
  align-self: flex-end;
  margin-right: 10vw;
}

#aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
#aboutMe #profilePic {
  height: 400px;
  width: 400px;
  margin-left: 5vw;
  border-radius: 50%;
  border: solid 1px #FFFFFF;
  background-color: white;
  background-image: url("../assets/images/profilePic.jpg");
  background-size: cover;
}
#aboutMe .textArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  width: 600px;
  margin-right: 5vw;
  padding: 40px 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px 100px 60px;
  width: 100%;
}
#projects h2 {
  margin-bottom: 50px;
}
#projects #projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#projects #projectContainer .project {
  height: 400px;
  width: 400px;
  margin: 10px;
  border-radius: 20px;
  border: solid 1px #FFFFFF;
  background-color: #FFFFFF;
  background-size: cover;
}
#projects #projectContainer .project .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
  border-radius: 20px 20px 0 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: height 300ms;
}
#projects #projectContainer .project .banner p {
  transition: font-size 300ms;
}
#projects #projectContainer .project .banner small {
  transition: font-size 300ms;
  text-align: center;
  font-size: 0;
}
#projects #projectContainer .project:hover .banner {
  height: 100%;
  border-radius: 20px;
}
#projects #projectContainer .project:hover .banner p {
  font-size: 54px;
}
#projects #projectContainer .project:hover .banner small {
  font-size: 18px;
}
#projects #projectContainer .project#jsAi {
  background-image: url("../assets/images/js-ai.png");
}
#projects #projectContainer .project#projectPigeon {
  background-image: url("../assets/images/project-pigeon.png");
}
#projects #projectContainer .project#reactNotes {
  background-image: url("../assets/images/react-notes.png");
}
#projects #projectContainer .project#laravelGallery {
  background-image: url("../assets/images/laravel-gallery.png");
}
#projects #projectContainer .project#nieuwsRadar {
  background-image: url("../assets/images/nieuwsradar.png");
}
#projects #projectContainer .project#backendApi {
  background-image: url("../assets/images/backend-api.png");
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px 100px 60px;
  width: 100%;
}
#contact h2 {
  margin-bottom: 50px;
}
#contact #contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
#contact #contactForm form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}
#contact #contactForm form label {
  margin-top: 10px;
}
#contact #contactForm form input, #contact #contactForm form textArea {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}
#contact #contactForm form input[type=button], #contact #contactForm form textArea[type=button] {
  height: 70px;
  margin-top: 40px;
  background-color: rgba(0, 255, 240, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #F4F4F4;
}
#contact #contactForm form input[type=button]:hover, #contact #contactForm form textArea[type=button]:hover {
  cursor: pointer;
  background-color: #00ffee98;
}
#contact #contactForm form textArea {
  min-height: 100px;
  max-height: 800px;
  height: 200px;
  resize: vertical;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 60px;
}
footer small {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
