*{
    box-sizing: border-box;
}

html {
    background-color: white;
    scroll-behavior: smooth;
}

body{
    margin: 0;

    background: linear-gradient( #00FFF0, #282828);
}

hr{
    height: 2px;
    margin: 0;
    background-color: #FFFFFF;
    border: none;
}

h1{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 144px;
    color: #FFFFFF;
}

h2{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 72px;
    color: #F9F9F9;
}

h3{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #F4F4F4;
    
    text-align: center;
}

p, div{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

small{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

@media only screen and (max-width: 1050px) {
    h1{
        font-size: 72px;
    }

    h2{
        font-size: 36px;
    }

    h3{
        font-size: 24px !important;
    }

    p, div{
        font-size: 18px;
    }
}