#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: url('../assets/images/headerImg.png');
    background-size: cover;
    mix-blend-mode: color-dodge;

    h2{
        align-self: flex-end;
        margin-right: 10vw;
    }
}

@media only screen and (max-width: 1050px) {
    #header{
        h1, h2{
            text-align: center;
        }

        h2{
            align-self: center;
            margin: 0;
        }
    }
}