#languagePicker{
    position: absolute;
    top: 1vw;
    right: 1vw;
    z-index: 1;

    small {
        display: inline;
        user-select: none;

        &:hover{
            cursor: pointer;
            color: #F9F9F9;
            text-decoration: underline;
        }

        &:active{
            color: #F1F1F1;
        }
    }
}