#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 60px 100px 60px;
    width: 100%;

    h2{
        margin-bottom: 50px;
    }

    #projectContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .project{
            height: 400px;
            width: 400px;
            margin: 10px;

            border-radius: 20px;
            border: solid 1px #FFFFFF;
            background-color: #FFFFFF;
            background-size: cover;

            .banner{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 15%;
                border-radius: 20px 20px 0 0;
                background-color: rgba(#000000, 0.4);

                transition: height 300ms;

                p{
                    transition: font-size 300ms;
                }

                small{
                    transition: font-size 300ms;
                    text-align: center;
                    font-size: 0;
                }
            }

            &:hover .banner{
                height: 100%;
                border-radius: 20px;
                
                p{
                    font-size: 54px;
                }

                small{
                    font-size: 18px;
                }
            }

            &:hover{
                cursor: pointer;
            }

            // Add images to project blocks
            &#jsAi{
                background-image: url('../assets/images/js-ai.png');
            }
            &#projectPigeon{
                background-image: url('../assets/images/project-pigeon.png');
            }
            &#reactNotes{
                background-image: url('../assets/images/react-notes.png');
            }
            &#laravelGallery{
                background-image: url('../assets/images/laravel-gallery.png');
            }
            &#nieuwsRadar{
                background-image: url('../assets/images/nieuwsradar.png');
            }
            &#backendApi{
                background-image: url('../assets/images/backend-api.png');
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .project{
        height: 300px !important;
        width: 300px !important;
        
        .banner p{
            text-align: center;
            font-size: 30px !important;
        }
    }
}