#summary{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;

    .textArea{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: 20px 0;
        padding: 40px;

        background-color: rgba(#FFFFFF, 0.2);
        border-radius: 20px;

        h2{
            margin-bottom: 20px;
        }
    }
}